<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for contact in contacts %}
        <li style="border-color: black;background-color: aquamarine;">Username: <p><b>{{contact.username}}</b></p> 
            Phone Nimber: +998{{contact.number}}
            <a href="{%url 'update_form' contact.id%}"><button>Update</button></a>
            <a href="{%url 'delete_contact' contact.id%}"><button>Delete</button></a>
            <br>
        </li>
        <br>
    {% endfor %}

    <a href="{%url 'add_contact'%}"><button>Add</button></a>
</body>
</html>